/* CSS Document */
body{
	background:url(/site_media/img/bg.gif) repeat-x 0 0 #FFFFFF; color:#5B5B5B;
	font:normal 15px/21px Arial, Helvetica, sans-serif;
	margin:0; padding:0;}
div, h1, h2, h3, h4, h5, h6, form, label, input, span, ul, li, p, a{
	margin:0; padding:0;}
ul{
	list-style:none;}
.spacer{
	font-size:0; line-height:0; clear:both;}

/* -- header start -- */
#header{
	width:738px; height:253px; margin:0 auto; position:relative;
	background:url(/site_media/img/header_bg.jpg) no-repeat 0 0 #fffadc; color:#000000;}
#header img{
	border:none; position:absolute; left:30px; top:58px;}
#header h1{
	font:normal 14px/14px Georgia, "Times New Roman", Times, serif; background-color:#000000; color:#E4E4E4;
	position:absolute; left:55px; top:146px;}	
#topbar ul{
	position:absolute; left:123px; bottom:21px;}
#topbar ul li{
	float:left; background:url(/site_media/img/top_btn_divider.gif) repeat-y right top #B87F00; color:#FFE8B4;
	font:bold 12px/20px "Trebuchet MS", Arial, Helvetica, sans-serif;}
#topbar ul li.noborder{
	float:left; background-image:none; color:#FFE8B4;
	font:bold 12px/20px "Trebuchet MS", Arial, Helvetica, sans-serif;}
#topbar ul li a{
	float:left; background:url(/site_media/img/top_btn_bg.gif) repeat-x 0 0 #B87F00; color:#FFE8B4;
	font:bold 12px/19px "Trebuchet MS", Arial, Helvetica, sans-serif; text-decoration:none; padding:0 10px; margin:0 1px 0 0;}
#topbar ul li a:hover{
	float:left; background-color:#8F0000; color:#FFFFFF; background-image:none;
	font:bold 12px/19px "Trebuchet MS", Arial, Helvetica, sans-serif; text-decoration:none; padding:0 10px; margin:0 1px 0 0;}
#header a.login{
	background:url(/site_media/img/member_login_btn.gif) no-repeat 0 0 #FFFBDD;
	color:#000000; width:119px; height:18px; display:block; text-decoration:none; text-indent:-2000px;
	position:absolute; right:2px; top:7px;}
#subbar ul{
	position:absolute; left:123px; bottom:0px;}
#subbar ul li{
	float:left; background:url(/site_media/img/top_btn_divider.gif) repeat-y right top #B87F00; color: #ffe8b4;
	font:bold 12px/20px "Trebuchet MS", Arial, Helvetica, sans-serif;}
#subbar ul li.noborder{
	float:left; background-image:none; color:#FFE8B4;
	font:bold 12px/20px "Trebuchet MS", Arial, Helvetica, sans-serif;}
#subbar ul li a{
	float:left; background:url(/site_media/img/top_btn_bg.gif) repeat-x 0 0 #B87F00; color:#FFE8B4;
	font:bold 12px/19px "Trebuchet MS", Arial, Helvetica, sans-serif; text-decoration:none; padding:0 10px; margin:0 1px 0 0;}
#subbar ul li a:hover{
	float:left; background-color: #580388; color:#FFFFFF; background-image:none;
	font:bold 12px/19px "Trebuchet MS", Arial, Helvetica, sans-serif; text-decoration:none; padding:0 10px; margin:0 1px 0 0;}

/* -- header end -- */
/* -- body start -- */
#body{
	width:676px; margin:0 auto; padding:19px 36px 22px 26px;}
#body h2{
	font:normal 26px/32px Arial, Helvetica, sans-serif;
	background-color:#FFFFFF; color:#855C00; float:left; height:32px;}
#body span.dotLine{
	background:url(/site_media/img/dot_line.gif) repeat-x 0 24px #FFFFFF; color:#000000;
	float:right; width:565px; display:block; height:30px;}
#body p{
	font:normal 14px/19px Arial, Helvetica, sans-serif; color:#5B5B5B; background-color:#FFFFFF; padding:3px 0; float:left;}
/* -- body end -- */
/* -- future pannel start -- */
#lefutur{
	background-color:#FFFDF3;
	font:normal 12px/17px Arial, Helvetica, sans-serif; color:#757057;}

/* -- future pannel end -- */

#futur{
	background-color:#FFFFFF;
	font:normal 12px/17px Arial, Helvetica, sans-serif; color:#757057;}
#futur span.midleTop{
	background:url(/site_media/img/midle_top_bg.gif) repeat-x 0 0 #FFFFFF; color:#757057; height:20px; display:block;}
#futur span.midleBottom{
	background:url(/site_media/img/midle_bottom_bg.gif) repeat-x 0 0 #FFFFFF; color:#757057; height:24px; display:block;}
#futureContainer{
	width:688px; padding:0 25px; margin:0 auto;}
.futureRight{
	padding-bottom: 0;
	padding-right: 28px;
	padding-top: 0;
	width: 338px; float: right;}
.futureRight ul li.update{
	margin-left: 56px;
	background:url(/site_media/img/update_bg.gif) no-repeat 0 0 #FFFFFF; color:#000000;
	width: 338px; height:63px; padding:14px 18px 28px 0; float:left; text-indent:-2000px;}
.futureRight ul li.update a{
	background:url(/site_media/img/more_btn1.gif) no-repeat 0 0 #FFFFFF; color:#000000;
	width:66px; height:48px; display:block; float:right; padding:0; margin:0;
	text-indent:-2000px; text-decoration:none;}
.futureRight ul li.update a:hover{
	background:url(/site_media/img/more_btn1_h.gif) no-repeat 0 0 #FFFFFF; color:#000000;
	width:66px; height:48px; display:block; float:right; padding:0; margin:0;
	text-indent:-2000px; text-decoration:none;}	
/*
.futureRight h2{
	font:normal 24px/50px Arial, Helvetica, sans-serif; color:#000000;
	background:url(/site_media/img/dot_line1.gif) no-repeat 255px 31px #FFFFFF;}
.futureRight h2 span{
	font:normal 24px/50px Arial, Helvetica, sans-serif; color:#89774C; background-color:#FFFDF3;}
.futureRight p{
	background-color:#FFFDF3;
	font:normal 12px/17px Arial, Helvetica, sans-serif; color:#757057;}
.futureRight h3{
	font:bold 13px/15px Arial, Helvetica, sans-serif; color:#8F0000;
	background:url(/site_media/img/star.gif) no-repeat 0 10px #FFFFFF; padding:10px 0 5px 21px;}
.futureRight p.uppercase{
	background-color:#FFFDF3;
	font:normal 12px/18px Arial, Helvetica, sans-serif; color:#333021; text-transform:uppercase;}
.futureRight p.line{
	height:13px; background:url(/site_media/img/more_bg.gif) repeat-x 0 0 #FFFFFF; color:#000000; margin:10px 0 0 0;}
.futureRight p.line a.more{
	background:url(/site_media/img/more_btn.gif) no-repeat 0 0 #FFFFFF; width:78px; height:13px;
	display:block; text-decoration:none; text-indent:-2000px; float:right; color:#FFFFFF;}
.futureRight p.line a.more:hover{
	background:url(/site_media/img/more_btn_h.gif) no-repeat 0 0 #FFFFFF; width:78px; height:13px;
	display:block; text-decoration:none; text-indent:-2000px; float:right; color:#FFFFFF;}
*/


.futureLeft{
	 width:295px; padding:0 25px 0 0 ; float:left;}
.futureLeft ul li.update{
	background:url(/site_media/img/update_bg.gif) no-repeat 0 0 #FFFFFF; color:#000000;
	width:295px; height:63px; padding:14px 18px 28px 0; float:left; text-indent:-2000px;}
.futureLeft ul li.update a{
	background:url(/site_media/img/more_btn1.gif) no-repeat 0 0 #FFFFFF; color:#000000;
	width:66px; height:48px; display:block; float:right; padding:0; margin:0;
	text-indent:-2000px; text-decoration:none;}
.futureLeft ul li.update a:hover{
	background:url(/site_media/img/more_btn1_h.gif) no-repeat 0 0 #FFFFFF; color:#000000;
	width:66px; height:48px; display:block; float:right; padding:0; margin:0;
	text-indent:-2000px; text-decoration:none;}
.futureLeft ul li.serviece{
	margin-left: -35px;
	margin-bottom: 0px;
	margin-right: 0px;
	margin-top: 0px;
	padding-bottom: 17px;
	padding-right: 18px;
	padding-top: 73px;
	background:url(/site_media/img/serviece_bg.gif) no-repeat 0 0 #FFFFFF; color:#000000;
	width:320px; height:63px; float:left; text-indent:-2000px;}
.futureLeft ul li.serviece a{
	background:url(/site_media/img/more_btn1.gif) no-repeat 0 0 #FFFFFF; color:#000000;
	width:66px; height:48px; display:block; float:right; padding:0; margin:0;
	text-indent:-2000px; text-decoration:none;}
.futureLeft ul li.serviece a:hover{
	background:url(/site_media/img/more_btn1_h.gif) no-repeat 0 0 #FFFFFF; color:#000000;
	width:66px; height:48px; display:block; float:right; padding:0; margin:0;
	text-indent:-2000px; text-decoration:none;}
/* -- future pannel end -- */

/* -- catagory pannel start -- */
#catagory{
	background-color:#FFFDF3;
	width:738px; margin:0 auto; padding:24px 0 32px 0;}
.testimonial{
	width:325px; float:left;}
.testimonial h2{
	background:url(/site_media/img/testimonial_bg.gif) no-repeat 0 0 #E39E17; color:#FFFFFF;
	width:256px; height:43px; padding:0 0 0 69px; margin:0 0 20px 0; float:left;
	font:normal 20px/45px Arial, Helvetica, sans-serif;}
.testimonial p{
	font:normal 14px/17px Arial, Helvetica, sans-serif; color:#5B5B5B; 
	float:left; width:185px; padding:0 0 0 22px;}	
.testimonial img{
	float:right; border:none; padding:0 20px 0 0;}
.testimonial p.italic{
	font:bold 12px/17px Arial, Helvetica, sans-serif; color:#296D8D; 
	float:left; width:288px; padding:10px 10px 0 22px;}	
.line1{	
	 padding:0 0 0 20px; width:282px;}
.line1 p{
	height:13px; background:url(/site_media/img/line1_bg.gif) repeat-x 0 7px;
	float:left; color:#000000;width:282px;
	font:bold 12px/13px Arial, Helvetica, sans-serif;}
.line1 p span{
	display:block; height:13px; float:right; padding: 0 12px 0 3px;
	font:bold 14px/13px Arial, Helvetica, sans-serif; background-color:#FFFDF3; color:#000000;}
.solution{
	width:363px; float:right;}
.solution h2{
	background:url(/site_media/img/solution_bg.gif) no-repeat 0 0 #3A86A9; color:#FFFFFF;
	width:283px; height:43px; padding: 0  0 0 80px; margin:0 0 20px 0; float:left;
	font:normal 20px/45px Arial, Helvetica, sans-serif;}
.solution p{
	font:normal 14px/17px Arial, Helvetica, sans-serif; color:#5B5B5B; 
	float:left; padding:0 35px 0 25px;}	
.solution ul{
	padding:10px 0 0 25px;}
.solution ul li{
	background:url(/site_media/img/solution_li_bg.gif) no-repeat 0 0 #FFFFFF;
	height:19px; margin:0 0 1px 0; padding:0 0 0 35px;
	font:normal 13px/17px Arial, Helvetica, sans-serif; color:#020202;}
.solution ul li a{
	background-color:#FAF8EC;
	height:19px; margin:0 0 1px 0; text-decoration:none;
	font:bold 13px/17px Arial, Helvetica, sans-serif; color:#8F0000;}
.solution ul li a:hover{
	background-color:#FAF8EC;
	height:19px; margin:0 0 1px 0; text-decoration:none;
	font:bold 13px/17px Arial, Helvetica, sans-serif; color:#4B7E00;}
/* -- catagory pannel end -- */
/* -- footer start -- */
#footer{
	background:url(/site_media/img/footer_bg.gif) repeat-x 0 0 #867F50; color:#E5E2D0;}
#footerContainer{
	width:738px; margin:0 auto; padding:8px 0 0 0;}
#footerContainer ul{
	width:530px; margin:0 auto;}
#footerContainer ul li{
	font:bold 10px/20px "Trebuchet MS", Arial, Helvetica, sans-serif;
	background-color:#867F50; color:#FFFFFF; float:left;}
#footerContainer ul li a{
	font:bold 10px/20px "Trebuchet MS", Arial, Helvetica, sans-serif;
	background-color:#867F50; color:#FFFFFF; text-decoration:none; padding:0 10px;}
#footerContainer ul li a:hover{
	font:bold 10px/20px "Trebuchet MS", Arial, Helvetica, sans-serif;
	background-color:#787145; color:#FFFFFF; text-decoration:none; padding:0 10px;}
#footerContainer p{
	font:normal 10px/20px "Trebuchet MS", Arial, Helvetica, sans-serif;
	background-color:#867F50; color:#E5E2D0; width:175px; margin:0 auto;}
.valid{
	width:114px; margin: 0 auto;}
.valid a.xhtnl{
	width:53px; height:14px; display:block; margin:0 8px 0 0; text-decoration:none; text-indent:-2000px;
	background:url(/site_media/img/xhtml_btn.gif) no-repeat 0 0 #867F50; color:#FFFFFF; float:left;}
.valid a.xhtnl:hover{
	width:53px; height:14px; display:block; margin:0 8px 0 0; text-decoration:none; text-indent:-2000px;
	background:url(/site_media/img/xhtml_btn_h.gif) no-repeat 0 0 #867F50; color:#FFFFFF; float:left;}
.valid a.css{
	width:53px; height:14px; display:block; text-decoration:none; text-indent:-2000px;
	background:url(/site_media/img/css_btn.gif) no-repeat 0 0 #867F50; color:#FFFFFF; float:left;}
.valid a.css:hover{
	width:53px; height:14px; display:block; text-decoration:none; text-indent:-2000px;
	background:url(/site_media/img/css_btn_h.gif) no-repeat 0 0 #867F50; color:#FFFFFF; float:left;}
#footerContainer p.tworld{
	font:bold 11px/25px "Trebuchet MS", Arial, Helvetica, sans-serif; margin:0 auto;
	text-transform:uppercase; color:#FFE2AA; background-color:#867F50;}
#footerContainer p.tworld a{
	font:bold 11px/25px "Trebuchet MS", Arial, Helvetica, sans-serif; margin:0 auto;
	text-transform:uppercase; text-decoration:none; color:#FFFFFF; background-color:#867F50;}
#footerContainer p.tworld a:hover{
	font:bold 11px/25px "Trebuchet MS", Arial, Helvetica, sans-serif; margin:0 auto;
	text-transform:uppercase; text-decoration:none; color:#FFFFFF; background-color:#787145;}
/* footer end -- */



/* блоги start */
#blog_show_menu {
	width: 300px;
	vertical-align: top;
	}
#blog_show_entry {
	width: 400px;
	}
/* блоги end */




/*##########################################
Script: Niceforms 2.0
Theme: StandardBlue
Author: Lucian Slatineanu
URL: http://www.emblematiq.com/
##########################################*/

/*Text inputs*/
.NFText {border:none; vertical-align:middle; font:12px/15px Arial, Helvetica, sans-serif; background:none;}
.NFTextCenter {height:15px; background:url(/site_media/img/niceforms/input.png) repeat-x 0 0; padding:3px 0; margin:0; float:left; line-height:15px;}
.NFTextLeft, .NFTextRight {width:7px; height:21px; vertical-align:middle; float:left;}
.NFTextLeft {background:url(/site_media/img/niceforms/input-left.png) no-repeat 0 0;}
.NFTextRight {background:url(/site_media/img/niceforms/input-right.png) no-repeat 0 0;}
/*Radio*/
.NFRadio {cursor:pointer; position:absolute; display:block; width:13px; height:13px; border:1px solid transparent; background:url(/site_media/img/niceforms/radio.png) no-repeat 0 0; z-index:2;}
/*Checkbox*/
.NFCheck {cursor:pointer; position:absolute; width:12px; height:12px; border:1px solid transparent; background:url(/site_media/img/niceforms/checkbox.png) no-repeat 0 0; z-index:2;}
/*Buttons*/
.NFButton {width:auto; height:26px; color:#fff; padding:0 2px; background:url(/site_media/img/niceforms/button.png) repeat-x 0 0; cursor:pointer; border:none; font:10px/26px Tahoma, Arial, Helvetica, sans-serif; font-weight:bold; text-transform:uppercase; letter-spacing:1px; vertical-align:middle;}
.NFButtonLeft, .NFButtonRight {width:6px; height:26px; vertical-align:middle;}
.NFButtonLeft {background:url(/site_media/img/niceforms/button-left.png) no-repeat 0 0;}
.NFButtonRight {background:url(/site_media/img/niceforms/button-right.png) no-repeat 0 0;}
/*Textareas*/
.NFTextarea {border:none; background:none; font:12px/12px Arial, Helvetica, sans-serif; margin:0;}
.NFTextareaTop, .NFTextareaBottom {height:5px; clear:both; float:none; padding-right:10px;}
.NFTextareaTop {background:url(/site_media/img/niceforms/textarea-tr.png) no-repeat 100% 0;}
.NFTextareaBottom {background:url(/site_media/img/niceforms/textarea-br.png) no-repeat 100% 0; margin-bottom:5px;}
.NFTextareaTopLeft, .NFTextareaBottomLeft {width:5px; height:5px;}
.NFTextareaTopLeft {background:#f2f2e6 url(/site_media/img/niceforms/textarea-tl.png) no-repeat 0 0;}
.NFTextareaBottomLeft {background:#f2f2e6 url(/site_media/img/niceforms/textarea-bl.png) no-repeat 0 0;}
.NFTextareaLeft, .NFTextareaRight, .NFTextareaLeftH, .NFTextareaRightH {float:left; padding-bottom:5px;}
.NFTextareaLeft, .NFTextareaLeftH {width:5px;}
.NFTextareaLeft {background:url(/site_media/img/niceforms/textarea-l-off.png) repeat-y 0 0;}
.NFTextareaLeftH {background:url(/site_media/img/niceforms/textarea-l-over.png) repeat-y 0 0;}
.NFTextareaRight, .NFTextareaRightH {padding-right:5px; padding-bottom:0;}
.NFTextareaRight {background:url(/site_media/img/niceforms/textarea-r-off.png) repeat-y 100% 0;}
.NFTextareaRightH {background:url(/site_media/img/niceforms/textarea-r-over.png) repeat-y 100% 100%;}
/*Files*/
.NFFileButton {padding-bottom:0; vertical-align:bottom; cursor:pointer; background:url(/site_media/img/niceforms/file.png) no-repeat 0 0; width:60px; height:21px;}
.NFFile {position:relative; margin-bottom:5px;}
.NFFile input.NFhidden {position:relative; filter:alpha(opacity=0); opacity:0; z-index:2; cursor:pointer; text-align:left;}
.NFFileNew {position:absolute; top:0px; left:0px; z-index:1;}
/*Selects*/
.NFSelect {height:21px; position:absolute; border:1px solid transparent;}
.NFSelectLeft {float:left; width:3px; height:21px; background:url(/site_media/img/niceforms/select-left.png) no-repeat 0 0; vertical-align:middle;}
.NFSelectRight {height:21px; width:auto; background:url(/site_media/img/niceforms/select-right.png) no-repeat 100% 0; cursor:pointer; font:12px/21px Arial, Helvetica, sans-serif; color:#fff; padding-left:3px; margin-left:3px;}
.NFSelectTarget {position:absolute; background:none; margin-left:-13px; margin-top:18px; z-index:3; left:0; top:0; padding-bottom:13px;}
.NFSelectOptions {position:relative; background:#707175; margin-left:16px; margin-top:0; list-style:none; padding:4px 0; color:#fff; font:11px/13px Arial, Helvetica, sans-serif; z-index:4; max-height:200px; overflow-y:auto; overflow-x:hidden; left:0; top:0;}
.NFSelectOptions li {padding-bottom:1px;}
.NFSelectOptions a {display:block; text-decoration:none; color:#fff; padding:2px 3px; background:none;}
.NFSelectOptions a.NFOptionActive {background:#464646;}
.NFSelectOptions a:hover {background:#333;}
/*Multiple Selects*/
.NFMultiSelect {border:0; background:none; margin:0;}
.NFMultiSelectTop, .NFMultiSelectBottom {height:5px; clear:both; float:none; padding-right:10px;}
.NFMultiSelectTop {background:url(/site_media/img/niceforms/textarea-tr.png) no-repeat 100% 0;}
.NFMultiSelectBottom {background:url(/site_media/img/niceforms/textarea-br.png) no-repeat 100% 0; margin-bottom:5px;}
.NFMultiSelectTopLeft, .NFMultiSelectBottomLeft {width:5px; height:5px;}
.NFMultiSelectTopLeft {background:#f2f2e6 url(/site_media/img/niceforms/textarea-tl.png) no-repeat 0 0;}
.NFMultiSelectBottomLeft {background:#f2f2e6 url(/site_media/img/niceforms/textarea-bl.png) no-repeat 0 0;}
.NFMultiSelectLeft, .NFMultiSelectRight, .NFMultiSelectLeftH, .NFMultiSelectRightH {float:left; padding-bottom:5px;}
.NFMultiSelectLeft, .NFMultiSelectLeftH {width:5px;}
.NFMultiSelectLeft {background:url(/site_media/img/niceforms/textarea-l-off.png) repeat-y 0 0;}
.NFMultiSelectLeftH {background:url(/site_media/img/niceforms/textarea-l-over.png) repeat-y 0 0;}
.NFMultiSelectRight, .NFMultiSelectRightH {padding-right:5px; padding-bottom:0;}
.NFMultiSelectRight {background:url(/site_media/img/niceforms/textarea-r-off.png) repeat-y 100% 0;}
.NFMultiSelectRightH {background:url(/site_media/img/niceforms/textarea-r-over.png) repeat-y 100% 0;}

/*Focused*/
.NFfocused {border:1px dotted #666;}
/*Hovered*/
.NFh {background-position:0 100%;}
.NFhr {background-position:100% 100%;}
/*Hidden*/
.NFhidden {opacity:0; z-index:-1; position:relative;}
/*Safari*/
select, input, textarea, button {outline:none; resize:none;}


















