html,body{margin:0;padding:0}
body{
	background:url(/site_media/img/bg.gif) repeat-x 0 0 #FFFFFF; color:#5B5B5B;
	font:normal 15px/21px Arial, Helvetica, sans-serif;
	margin:0; padding:0;}
ul{
	list-style:none;}
div, h1, h2, h3, h4, h5, h6, form, label, input, span, ul, li{
	margin:0; padding:0;}
ul{
	list-style:none;}
.spacer{
	font-size:0; line-height:0; clear:both;}
p{margin:0 10px 10px}
a{color: #006;padding:10px;text-decoration: none;}

/* -- header start -- */
#header{
	width:738px; height:233px; margin:0 auto; position:relative;
	background:url(/site_media/img/header_bg.jpg) no-repeat 0 0 #FFFADC; color:#000000;}
#header img{
	border:none; position:absolute; left:30px; top:58px;}
#header h1{
	font:normal 14px/14px Georgia, "Times New Roman", Times, serif; background-color:#000000; color:#E4E4E4;
	position:absolute; left:55px; top:146px;}
#header ul{
	position:absolute; left:123px; bottom:0;}
#header ul li{
	float:left; background:url(/site_media/img/top_btn_divider.gif) repeat-y right top #B87F00; color:#FFE8B4;
	font:bold 12px/20px "Trebuchet MS", Arial, Helvetica, sans-serif;}
#header ul li.noborder{
	float:left; background-image:none; color:#FFE8B4;
	font:bold 12px/20px "Trebuchet MS", Arial, Helvetica, sans-serif;}
#header ul li a{
	float:left; background:url(/site_media/img/top_btn_bg.gif) repeat-x 0 0 #B87F00; color:#FFE8B4;
	font:bold 12px/19px "Trebuchet MS", Arial, Helvetica, sans-serif; text-decoration:none; padding:0 10px; margin:0 1px 0 0;}
#header ul li a:hover{
	float:left; background-color:#8F0000; color:#FFFFFF; background-image:none;
	font:bold 12px/19px "Trebuchet MS", Arial, Helvetica, sans-serif; text-decoration:none; padding:0 10px; margin:0 1px 0 0;}
#header ul li a.hover{
	float:left; background-color:#8F0000; color:#FFFFFF; background-image:none;
	font:bold 12px/19px "Trebuchet MS", Arial, Helvetica, sans-serif; text-decoration:none; padding:0 10px; margin:0 1px 0 0;}
#header a.login{
	background:url(/site_media/img/member_login_btn.jpg) no-repeat 0 0 #FFFBDD;
	color:#000000; width:119px; height:0px; display:block; text-decoration:none; text-indent:-2000px;
	position:absolute; right:2px; top:7px;}

/* -- header end -- */

div#wrapper{ float:right;width:100%;margin-left:-200px}
div#content p{line-height:1.4;}
div#content{ padding: 0.5em; width:100;margin-left:200px;}
#content h1{ margin-top: 0px; position: relative; }

div#sidebar{background:#99ccff;text-align: center; float:left;width:200px}
div#sidebar a{font: 12pt arial,sans-serif  }
#sidebar ul{ padding: 0px; list-style-position: inside; list-style-type: none; margin: 0px; }

#radius{	background: #D9D9D9;	-moz-border-radius: 10px;	-webkit-border-radius: 10px}

/* -- body start -- */
#body{
	width:676px; margin:0 auto; padding:19px 36px 22px 26px;}
#body h2{
	font:normal 26px/32px Arial, Helvetica, sans-serif;
	background-color:#FFFFFF; color:#855C00; float:left; height:32px;}
#body span.dotLine{
	background:url(/site_media/img/dot_line.gif) repeat-x 0 24px #FFFFFF; color:#000000;
	float:right; width:565px; display:block; height:30px;}
#body p{
	font:normal 14px/19px Arial, Helvetica, sans-serif; color:#5B5B5B; background-color:#FFFFFF; padding:3px 0; float:left;}
/* -- body end -- */

/* -- footer start -- */
#footer{
	background:url(/site_media/img/footer_bg.gif) repeat-x 0 0 #867F50; color:#E5E2D0;}
#footerContainer{
	width:738px; margin:0 auto; padding:8px 0 0 0;}
#footerContainer ul{
	width:530px; margin:0 auto;}
#footerContainer ul li{
	font:bold 10px/20px "Trebuchet MS", Arial, Helvetica, sans-serif;
	background-color:#867F50; color:#FFFFFF; float:left;}
#footerContainer ul li a{
	font:bold 10px/20px "Trebuchet MS", Arial, Helvetica, sans-serif;
	background-color:#867F50; color:#FFFFFF; text-decoration:none; padding:0 10px;}
#footerContainer ul li a:hover{
	font:bold 10px/20px "Trebuchet MS", Arial, Helvetica, sans-serif;
	background-color:#787145; color:#FFFFFF; text-decoration:none; padding:0 10px;}
#footerContainer p{
	font:normal 10px/20px "Trebuchet MS", Arial, Helvetica, sans-serif;
	background-color:#867F50; color:#E5E2D0; width:175px; margin:0 auto;}
.valid{
	width:114px; margin: 0 auto;}
.valid a.xhtnl{
	width:53px; height:14px; margin:0 8px 0 0; text-decoration:none; text-indent:-2000px;display:inline;
	background:url(/site_media/img/xhtml_btn.gif) no-repeat 0 0 #867F50; color:#FFFFFF; float:left;}
.valid a.xhtnl:hover{
	width:53px; height:14px; margin:0 8px 0 0; text-decoration:none; text-indent:-2000px;display:inline;
	background:url(/site_media/img/xhtml_btn_h.gif) no-repeat 0 0 #867F50; color:#FFFFFF; float:left;}
.valid a.css{
	width:53px; height:14px; text-decoration:none; text-indent:-2000px;display:inline;
	background:url(/site_media/img/css_btn.gif) no-repeat 0 0 #867F50; color:#FFFFFF; float:left;}
.valid a.css:hover{
	width:53px; height:14px; text-decoration:none; text-indent:-2000px;display:inline;
	background:url(/site_media/img/css_btn_h.gif) no-repeat 0 0 #867F50; color:#FFFFFF; float:left;}
/* footer end -- */