{% extends 'accounts/customer_base.html' %}
{% block title %}RuTest companies{% endblock %}

{% block content%}
<br>
<h1> Мои проекты:</h1>
<ul>
    <TABLE border="3" algin="center">
        <THEAD>
           <tr >
               <th> Название</th>
               <th> Размер в SLOC<br>(количество строк кода)</th>
               <th> ЯП</th>
               <th> Язык документации </th>
               <th> Количество тестировщиков</th>
               <th> Дата</th>
           </tr>
        </THEAD>
    {% for project in projects %}
        <TBODY>
            <tr>
               <td> <a href="{% url project_detail  project_id=project.pk %}"><h4>{{ project.name }}</h4></a></td>
               <td> {{ project.size }}</td>
               <td>
                   {% for Progr_Lang in project.program_languages.all %}
                       {{ Progr_Lang }}<BR>
                   {% endfor %}
               </td>
               <td>
                   {% for Doc_lang in project.doc_languages.all %}
                       {{ Doc_lang }}<BR>
                   {% endfor %}
               </td>
               <td>  {{ project.testers.count }}</td>
               <td> {{ project.submit_date }}</td>
            </tr>
        </TBODY>
    {% endfor %}
    </TABLE>
</ul>

{% if viewing_self %}
    <a href="{% url project_add %}" >Добавить проект</a>
{% endif %}
<br>
{% endblock %}}
