{% extends 'base.html' %}
{% block title %}RuTest Dogovor{% endblock %}
{% block content_title%}Пользовательский договор{% endblock %}
{% block content %}

<br>
<p>Наш ресурс создавался для того, чтобы пользователи могли взаимодействовать друг 
    с другом в максимально комфортном пространстве и с максимальной эффективностью.
    Поэтому мы просим пользователей, желающих зарегистрироваться, относиться с
    уважением к другим пользователям и интернет-ресурсу. Помните, чистота в блоге
    – чистота в мыслях.</p>
<br>
{% endblock %}
