{% extends 'accounts/customer_base.html' %}
{% block content_title%}Личный кабинет компании {{ customer.full_name }}{% endblock %}
{% block content%}
    <table>
        <tr>
            <td><h3> Регистрационные данные </h3> </td>
            <td></td>
        </tr>
        <tr>
            <td>Контактный e-mail:<br>
            {% if viewing_self %}
                <p>(Ваш логин авторизации) </p>
            {% endif %}
            </td>
            <td>{{ customer.email }} </td>
        </tr>
        <tr>
            <td><h3> Информация о компании </h3></td>
            <td></td>
        </tr>
        <tr>
            <td>Название компании: </td>
            <td>{{ customer.name }} </td>
        </tr>
        <tr>
            <td>ИНН: </td>
            <td>{{ customer.inn }} </td>
        </tr>
        <tr>
            <td> Номер счета:&nbsp {{ customer.bank_account }}</td>
            <td> Банк:&nbsp {{ customer.bank }} </td>
        </tr>
        <tr>
            <td> КПП:&nbsp {{ customer.kpp }}</td>
            <td>БИК:&nbsp {{ customer.bik }} </td>
        </tr>
        <tr>
            <td> ОГРН: </td>
            <td>{{ customer.ogrn }} </td>
        </tr>
        <tr>
            <td> Кореспондентский счет:</td>
            <td>{{ customer.correspondent_account }} </td>
        </tr>
        <tr>
            <td>Контактный телефон компании:</td>
            <td> {{ customer.phone }}</td>
        </tr>
        <tr>
            <td>Адресс сайта компании:</td>
            <td>{{ customer.www }} </td>
        </tr>
        <tr>
            <td>Юредический адресс компании:</td>
            <td>{{ customer.address_ur }} </td>
        </tr>
        <tr>
            <td>Информация о компании:</td>
            <td> {{ customer.description }}</td>
        </tr>
        <tr>
            <td> <h3> Личная информация о представителе</h3></td>
            <td> <h3>  компании</h3></td>
        </tr>
        <tr>
            <td>Фамилия  заказчика:</td>
            <td> {{ customer.repr_surname }}</td>
        </tr>
        <tr>
            <td>Имя заказчика:</td>
            <td>{{ customer.repr_name }} </td>
        </tr><tr>
            <td>Отчество заказчика:</td>
            <td> {{ customer.repr_second_name }}</td>
        </tr><tr>
            <td>Контактный телефон:</td>
            <td> {{ customer.repr_phone }}</td>
        </tr>
        <tr>
            <td>Блог:</td>
            <td><a href="{% url blogs.views.blog_show customer.blog.pk 0 %}">читать</a></td>
        </tr>
        <tr>
            <td><h3> Способ оплаты</h3></td>
            <td> </td>
        </tr>
        <tr>
            <td>
            {% for pay in customer.pay_type.all %}
                {{ pay }}<br>
            {% endfor %}
            </td>
        </tr>
    </table>
{% endblock %}
