{% extends 'accounts/customer_base.html' %}

{% block content%}
    <table>
        <tr>
            <td><h3> Регистрационные данные </h3> </td>
            <td></td>
        </tr>
        <tr>
            <td>Контактный e-mail: <br> <p>(Ваш логин авторизации) </p> </td>
            <td>{{ customer.email }} </td>
        </tr>
        <tr>
            <td> <h3> Личная информация</h3></td>
            <td> </td>
        </tr>
        <tr>
            <td>Фамилия  заказчика:</td>
            <td> {{ customer.surname }}</td>
        </tr>
        <tr>
            <td>Имя заказчика:</td>
            <td>{{ customer.name }} </td>
        </tr>
        <tr>
            <td>Отчество заказчика:</td>
            <td>{{ customer.second_name }}</td>
        </tr>
        <tr>
            <td><h3>Паспортные данные</h3></td>
            <td> </td>
        </tr>
        <tr>
           <td>Серия:</td>
            <td>{{ customer.passport_series }}</td>
        </tr>
        <tr>
            <td>Номер:</td>
            <td>{{ customer.passport_number }} </td>
        </tr>
        <tr>
            <td>Дата выдачи:</td>
            <td>{{ customer.passport_when|date }}</td>
        </tr>
        <tr>
            <td>Кем выдан:</td>
            <td>{{ customer.passport_who }}</td>
        </tr>
        <tr>
            <td><h3>Контактные данные</h3></td>
            <td></td>
        </tr>
        <tr>
            <td>Контактный телефон:</td>
            <td>{{ customer.phone }}</td>
        </tr>
        <tr>
            <td><h3> Способы оплаты</h3></td>
            <td>
            <ul>
            {% for pay in customer.pay_type.all %}
                <li>{{ pay }}</li>
            {% endfor %}
            </ul>
            </td>
        </tr>
    </table>
{% endblock %}
