{% extends 'accounts/tester_base.html' %}

{% block content_title %}Редактирование личных данных{% endblock %}

{% block content%}
<form action="{% url tester_edit tester_id=tester.id %}" method="post" class="niceform">
    <fieldset>
        <legend>Изменить данные</legend>
        <!--
        {% if form.errors %}
        <p>{{ form.errors }}</p>
        {% endif %}
        {% for field in form %}
            <dl>
                <dt>{{ field.label_tag }}</dt>
                <dd>{{ field }}</dd>
                {% if field.errors %}
                <p>{{ field.errors }}</p>
                {% endif %}
            </dl>
        {% endfor %}
        -->
        <table>
       {% for field in form %}
       <tr>

            <td valign="top">
               <h4> {{ field.label_tag }}</h4>
            </td>
             <td>
                 {% if field.errors %}
                 <table>
                     <tr>
                         <td>{{ field }}</td>
                         <td>{{ field.errors }}</td>
                     </tr>
                 </table>
                 {% else %}
                 {{ field }}
                 {% endif %}

             </td>
       </tr>
        {% endfor %}
      </table>
    </fieldset>

    <fieldset class="action">
	<dl>
	    <dd><input type="submit" name="submit" id="submit" value="Сохранить изменения" /></dd>
	</dl>
    </fieldset>
</form>
{% endblock %}
