{% extends 'accounts/tester_base.html' %}
{% block title %}RuTest tester{% endblock %}
{% block content_title %}Проекты тестировщика{% endblock %}
{% block content %}
<br>
    <TABLE class="rutest_table">
        <THEAD>
             <tr class="tr0">
                <th> Название проекта</th>
                <th> Размер в SLOC</th>
                <th> ЯП</th>
                <th> Язык документации </th>
                <th> Колличество багов</th>

                {% if user.is_authenticated %}
                      {% if user.tester %}
                      <th>Действие</th>
                      {% endif %}
                {% endif %}
             </tr>
        </THEAD>
        <TBODY>
    {% for project in projects %}
            <tr class="{% cycle 'tr1' 'tr2' %}">
               <td> <a href="{% url project_detail project_id=project.pk %}  "><h4>{{ project.name }}</h4></a></td>
               <td> {{ project.size }}  </td>
               <td>
                   {% for Progr_Lang in project.program_languages.all %}
                      {{ Progr_Lang }}<BR>
                   {% endfor %}
               </td>
               <td>
                    {% for Doc_lang in project.doc_languages.all %}
                       {{ Doc_lang }}<BR>
                    {% endfor %}
               </td>
               <td> {{ project.bugs.count }}</td>
               {% if user.is_authenticated %}
                    {% if user.tester %}
                    <td >
                       <form >
                         <input id="radius" type="button"onClick="location.href='{% url project_add_bug project_id=project.pk %}'" value="Добавить баг"/>
                        </form>
                    </td>
                    {% endif %}
               {% endif %}
               
            </tr>
        </TBODY>
    {% endfor %}
     </TABLE>
     <br>
{% endblock %}
