{% extends 'accounts/tester_base.html' %}
{% block sidebar %}
<div id='sidebar_refs'>
          <ul>
               <li><a href="{{ tester.get_absolute_url }}">Мои данные</a></li>
               <li><a href="{% url tester_detail_projects tester_id=tester.id %}">Мои проекты</a></li>
           </ul>
</div>           
{% endblock %}

{% block content_title %}
Фотография тестировщика {{ tester.full_name }}
{% endblock %}

{% block content %}
    <img src="{{ tester.gravatar }}" alt="Здесь должен быть Ваш граватар">
    Аватар предоставлен системой глобально-распознаваемых аватаров GRAVATAR
    <BR><BR>Для того, чтобы сменить ваш глобально распознаваемый аватар, 
    выполните шаги инструкции, расположенной по ссылке:
    <BR><BR><a href="http://ru.gravatar.com/site/signup/" target="gravatar">http://ru.gravatar.com/site/signup/</a>
{% endblock %}
