{% extends 'accounts/tester_base.html' %}
{% block title %}RuTest tester{% endblock %}
{% block content_title %}Проекты тестировщика{% endblock %}
{% block content %}

        <script type="text/javascript">
        $(document).ready(function(){
        // ---- tablesorter -----
        $("#table_tester_detail_projects").tablesorter({
                sortList:[[0,0]],
                widgets: ['zebra'],
                headers: { 5: { sorter: false} }
        });
        // ---- tablesorter -----
        });
        </script>

<br>
    <TABLE class="tablesorter" id="table_tester_detail_projects">
        <THEAD>
             <tr class="tr0">
                <th> Название проекта&nbsp;&nbsp;&nbsp;</th>
                <th> Размер в SLOC&nbsp;&nbsp;&nbsp;</th>
                <th> ЯП&nbsp;&nbsp;&nbsp;</th>
                <th> Язык документации&nbsp;&nbsp;&nbsp;</th>
                <th> Колличество багов&nbsp;&nbsp;&nbsp;</th>

                {% if user.is_authenticated %}
                      {% if user.tester %}
                      <th>Действие</th>
                      {% endif %}
                {% endif %}
             </tr>
        </THEAD>
        <TBODY>
            {% for project in projects %}
            <tr class="{% cycle 'tr1' 'tr2' %}">
               <td> <a href="{% url project_detail project_id=project.pk %}  "><h4>{{ project.name }}</h4></a></td>
               <td> {{ project.size }}  </td>
               <td>
                   {% for Progr_Lang in project.program_languages.all %}
                      {{ Progr_Lang }}<BR>
                   {% endfor %}
               </td>
               <td>
                    {% for Doc_lang in project.doc_languages.all %}
                       {{ Doc_lang }}<BR>
                    {% endfor %}
               </td>
               <td> {{ project.bugs.count }}</td>
               {% if user.is_authenticated %}
                    {% if user.tester %}
                    <td >
                       <form >
                         <input id="radius" type="button"onClick="location.href='{% url project_add_bug project_id=project.pk %}'" value="Добавить баг"/>
                        </form>
                    </td>
                    {% endif %}
               {% endif %}
               
            </tr>
            {% endfor %}
        </TBODY>

     </TABLE>
     <br>
{% endblock %}
