{% extends 'accounts/tester_base.html' %}
{% block sidebar %}
          <ul>
               <li><a href="/testers/{{ user.tester.pk}}">Мои данные</a></li>
               <li><a href="/testers/{{ tester.pk }}/projects">Мои проекты</a></li>
           </ul>
{% endblock %}

{% block content_title %}
Личный кабинет тестировщика {{ tester.full_name }}
{% endblock %}

{% block content %}
    <table>
        <tr>
            <td><h3> Личная информация</h3></td>
            <td></td>
        </tr>
        <tr>
            <td>Контактный e-mail: <br> <p>(Ваш логин авторизации) </p> </td>
            <td>{{ tester.email }} </td>
        </tr>
        <tr>
            <td>Фамилия:</td>
            <td> {{ tester.surname }}</td>
        </tr>
        <tr>
            <td>Имя:</td>
            <td>{{ tester.name }} </td>
        </tr><tr>
            <td>Отчество:</td>
            <td> {{ tester.second_name }}</td>
        </tr>
        <tr>
            <td><h3>Профессиональное:</h3> </td>
        </tr>
		{% if form %}
		<form action="{% url bugtracker.views.tester_detail tester.pk %}" method="POST">
		{{ form }}
		<tr>
			<td colspan="2">
                            <input type="submit" value="Сохранить">       
                        </td>
		</tr>
                <tr>
			<td colspan="2">
                            <input type="button" onClick="show_foto_bag();" value="Загрузить фотографию">
                            <div id="foto_bug"></div>
                        </td>
                </tr>
		</form>
		{% else %}
		<tr>
			<td>Операционные системы</td>
			<td>
				<ul>
				{% for os in tester.os.all %}
					<li>{{ os }}</li>
				{% endfor %}
				</ul>
			</td>
		</tr>
		<tr>
			<td>Языки программирования</td>
			<td>
				<ul>
				{% for lang in tester.program_languages.all %}
					<li>{{ lang }}</li>
				{% endfor %}
				</ul>
			</td>
		</tr>
		<tr>
			<td>Типы тестирования</td>
			<td>
				<ul>
				{% for t in tester.testing_types.all %}
					<li>{{ t }}</li>
				{% endfor %}
				</ul>
			</td>
		</tr>	
		<tr>
			<td>Браузеры</td>
			<td>
				<ul>
				{% for browser in tester.browsers.all %}
					<li>{{ browser }}</li>
				{% endfor %}
				</ul>
			</td>
		</tr>	
		<tr>
			<td>О себе</td>
			<td>
				<p>{{ tester.description }}</p>
			</td>
		</tr>
		{% endif %}

   </table>
{% endblock %}
