{% extends 'base.html' %}
{% block title %}RuTest testers{% endblock %}
{% block subbar %}
{% endblock %}
{% block content_title%}Наши тестировщики{% endblock %}
{% block content%}
<br>
<TABLE class="rutest_table">
    <THEAD>
	<tr class="tr0">
	    <th>Номер тестировщика </th>
	    <th> Фамилия</th>
	    <th> Имя </th>
	    <th> Отчество </th>
	    <th> Рейтинг</th>
	    <th> Кол-во тест. проектов</th>
            <th> Интересы</th>
	</tr>
    </THEAD>
     <TBODY>
    {% for tester in tester_list %}
        <tr class="{% cycle 'tr1' 'tr2' %}">
	        <td>{{ forloop.counter }}</td>
             <td><a href="{{ tester.get_absolute_url }}">{{ tester.surname}}</a></td>
             <td>{{ tester.name}}</td>
             <td>{{ tester.second_name}}</td>
             <td></td>
             <td></td>
             <td></td>
        </tr>
	{% endfor %}
    </TBODY>
</TABLE>
{% endblock %}
