{% extends 'accounts/registration_base.html' %}

{% block title %}Регистрация тестировщика{% endblock %}
{% block header %}Регистрация тестировщика{% endblock %}
{% block content_title %}Регистрация тестировщика{% endblock %}
{% block content%}
<form action="{% url tester_registration %}" method="post" class="niceform">
    <fieldset>
        <legend>Регистрация тестировщика</legend>
        <!--
        {% if form.errors %}
        <p>{{ form.errors }}</p>
        {% endif %}
        {% for field in form %}
            <dl>
                <dt>{{ field.label_tag }}</dt>
                <dd>{{ field }}</dd>
                {% if field.errors %}
                <p>{{ field.errors }}</p>
                {% endif %}
            </dl>
        {% endfor %}
        -->
       <table>
       {% for field in form %}
       <tr>

            <td valign="top">
               <h4> {{ field.label_tag }}</h4>
            </td>
             <td>
                 {% if field.errors %}
                 <table>
                     <tr>
                         <td>{{ field }}</td>
                         <td>{{ field.errors }}</td>
                     </tr>
                 </table>
                 {% else %}
                 {{ field }}
                 {% endif %}

             </td>
       </tr>
        {% endfor %}
      </table>
    </fieldset>


     <fieldset>
    <legend>Регистрация</legend>
        <input type="checkbox" name="accept" id="id_accept" onClick="this.form.registr.disabled=!this.form.accept.checked;" />
            Я согласен с условиями <a href="{% url dogovor %}" target="_blank">пользовательского договора</a>
    <br/>

    <input id="radius" name="registr" type="submit" value="Зарегистрироваться" disabled />
    <input id="radius" type="button" onClick="location.href='/'" value="Не регистрироваться"/>
    </fieldset>
</form>
{% endblock %}
