{% extends 'base.html' %}
{% block title %}RuTest project{% endblock %}

{% block content%}
<h1>Проект {{ project.name }}</h1>
<p>Этот проект был разработан компанией <a href="/companies/{{ project.customer.pk }}">{{ project.customer.name }}</a></p>
<p>Размер в SLOC: {{ project.size }}</p>
<p>{{ project.project_description }}</p>
<p>Этот проект тестируется следующими тестировщиками:
<ul>
    {% for tester in testers %}
    <li><a href="/testers/{{ tester.pk }}">{{ tester.name}}</a></li>
    {% endfor %}
</ul>
</p>
<p>В этом проекте были найдены следующие баги:
<ul>
    {% for bug in bugs %}
    <li>{{ bug.name}}</li>
    {% endfor %}
</ul>

{% if user.tester %}
<a href="/projects/{{ project.pk }}/addbug">Добавить баг</a>
{% endif %}

</p>
{% endblock %}
