{% extends 'base.html' %}
{% block title %}RuTest project{% endblock %}
{% block sidebar %}
<ul>
    <li><a href="/projects/{{ project.pk}}">Описание</a></li>
    <li><a href="/projects/{{ project.pk }}/bugs">Баги</a></li>
    <li><a href="/projects/{{ project.pk }}/testers">Тестировщики</a></li>
</ul>
{% endblock %}
{% block content%}
<br>
<h1 algin="center"> Тестировщики </h1>
<ul>
    <TABLE border="3" >
	<THEAD>
	    <tr>
		<th>№ &nbsp</th>
		<th>Фамилия &nbsp</th>
		<th>Имя &nbsp </th>
        <th>Отчество &nbsp</th>
		<th>E-mail &nbsp</th>
		<th>Колличество найденных багов</th>
	    </tr>
	</THEAD>
	<TBODY>
	{% for tester in testers %}
	    <tr>
		<td>{{ tester.pk }}</td>
		<td>{{ tester.surname}}</td>
		<td>{{ tester.first_name}}</td>
		<td>{{ tester.second_name}} </td>
		<td><a href="/testers/{{ tester.pk }}">{{ tester.name}}</a></td>
		<td>{{ tester.bugs.count }}</td>
	    </tr>
	{% endfor %}
	</TBODY>
    </TABLE>
</ul>
<p>
{% if user.is_authenticated %}
{% if user.tester %}
 <div align="center">
        <form>
            <input id="radius" type="button"onClick="location.href='/projects/{{ project.pk }}/addbug'" value="Добавить баг"/>
        </form>
    </div>
{% endif %}
{% endif %}

</p>
{% endblock %}
