{% extends 'base.html' %}
{% block title %}Страница бага{% endblock %}
{% block content_title %}Страница бага{% endblock %}
{% block content %}
<table>
    <tr>
        <td>Краткое описание:</td>
        <td> {{ bug.short_description }}</td>
    </tr>
    <tr>
        <td>Пункт тест-плана:</td>
        <td>{{ bug.test_plan_point }}</td>
    </tr>
    <tr>
        <td>Критичность:</td>
        <td>
            {{ bug.get_severity_display }}
        </td>
    </tr>
    <tr>
        <td>Как был получен:</td>
        <td>{{ bug.finding_description }}</td>
    </tr>
    <tr>
        <td>Описание:</td>
        <td>{{ bug.full_description }}</td>
    </tr>
    <tr>
        <td>Дата/Время добавления:</td>
        <td>{{ bug.submit_date|date:"d.m.Y H:i" }}</td>
    </tr>
    {% if form %}
        <form action="{% url bug_detail bug_id=bug.pk %}" method="post">
            <tr>
                <td>Статус:</td>
                <td>{{ form.status }}</td>
            </tr>
            <tr>
                <td>Примечание</td>
                <td>{{ form.status_comment }}</td>
            </tr>
            <tr>
                <td><input id="radius" type="submit"  value="Изменить"></td>
            </tr>
        </form>
        {% else %}
         <tr>
             <td>Статус:</td>
             <td>
                 {{ bug.get_status_display }}
             </td>
             </tr>
         <tr>
             <td>Примечание:</td>
             <td>
                 {{ bug.status_comment|default:"Отсутствует" }}
             </td>
         </tr>
         <tr>
             <td>Дата/время установления статуса:</td>
             <td> {{ bug.status_date|date:"d.m.Y H:i" }} </td>
         </tr>
         <tr>
            <td>Прикрепленные файлы: </td>
            <td></td>
        </tr>
         <tr>
            <td><a href="{{ bug.get_file_url }}">{{ bug.f_name }}</a> </td>
            <td> {{ bug.f_comment }} </td>
        </tr>
    {% endif %}
</table>
{% endblock %}
