{% extends 'bugtracker/bugtracker_base.html' %}
{% block title %}RuTest project{% endblock %}
{% block content_title %}Баги  проекта {{ project.name }}{% endblock %}
{% block content %}
<br>
<ul>
    <TABLE class="rutest_table">
	<THEAD>
	    <tr class="tr0">
		<th>№</th>
		<th>Описание</th>
		<th>Автор</th>
		<th>Критичность </th>
		<th>Статус</th>
		<th>Дата</th>
	    </tr>
	</THEAD>
	<TBODY>
	    {% for bug in bugs %}
	    <tr class="{% cycle 'tr1' 'tr2' %}">
                <td><a href="{% url bug_detail bug_id=bug.pk %}">{{ bug.pk }}</a></td>
		<td>{{ bug.short_description }}</td>
		<td>
		    {% for tester in bug.tester.name %}
		        {{ tester }}
		    {% endfor %}
		</td>
		<td>
		    {% ifequal bug.severity 1 %}
                Средняя
		    {% endifequal %}
		    {% ifequal bug.severity 2 %}
                Низкая
		    {% endifequal %}
		    {% ifequal bug.severity 3 %}
                Высокая
		    {% endifequal %}
		</td>
		<td> 
                    {% ifequal bug.status 'new' %}
                    Баг не рассматривался
                    {% endifequal %}
                    {% ifequal bug.status 'reviewed' %}
                    Баг на рассмотрении
                    {% endifequal %}
                    {% ifequal bug.status 'accepted' %}
                    Баг рассмотрен и признан в качестве бага
                    {% endifequal %}
                    {% ifequal bug.status 'denied' %}
                    Баг рассмотрен и не признан в качестве бага
                    {% endifequal %}
                    {% ifequal bug.status 'corrected' %}
                    Баг рассмотрен и устранён
                    {% endifequal %}
                </td>
		<td> {{ bug.status_date|date:"d.m.Y h:i" }}</td>
	    </tr>
	    {% endfor %}
	</TBODY>
    </TABLE>
</ul>
<br>
    {% if user_can_add_bug %}
         <div>
            <form>
              <input id="radius" type="button"onClick="location.href='{% url project_add_bug project_id=project.pk %}'" value="Добавить баг"/>
            </form>
         </div>
    {% endif %}
<br>
{% endblock %}
