{% extends 'bugtracker/bugtracker_base.html' %}
{% block title %}RuTest project{% endblock %}
{% block content_title %}Детали  проекта {{ project.name }} {% endblock %}
{% block content%}
<BR>
    <table>
        <tr>
           <td>Название: </td>
           <td><h3>{{ project.name }}</h3></td>
        </tr>
        <tr>
            <td>Размер в SLOC: </td>
            <td>{{ project.size }}</td>
        </tr>
        <tr>
            <td>Язык программирования: </td>
             <td>
                {% for Progr_Lang in project.program_languages.all %}
                  {{ Progr_Lang }}<BR>
                {% endfor %}
            </td>
        </tr>
        <tr>
            <td>Язык документации: </td>
            <td>
                {% for Doc_lang in project.doc_languages.all %}
                    {{ Doc_lang }}<BR>
                {% endfor %}
            </td>
        </tr>
        <tr>
            <td>Описание: </td>
            <td>{{ project.description }} </td>
        </tr>
        <tr>
            <td>Прикрепленные файлы: </td>
            <td></td>
        </tr>
        <tr>
            <td>Блог:</td>
            <td><a href="{% url blogs.views.blog_show project.blog.pk 0 %}">читать</a></td>
        </tr>
         <tr>
            <td><a href="{{ project.get_file_url }}">{{ project.f_name }}</a> </td>
            <td> {{ project.f_comment }} </td>
        </tr>
    </table>
<BR>
{% if user_can_enlist %}
    <form action="{% url project_add_tester project_id=project.pk  %}" method="POST">
        <input type="submit" value="Присоединиться к тестированию"/>
    </form>
{% endif %}
{% endblock %}
