{% extends 'base.html' %}
{% block title %}RuTest companies{% endblock %}
{% block subbar %}{% endblock %}
{% block content_title%}Добавление проекта{{ customer.full_name }}{% endblock %}
{% block content%}
<script language='JavaScript' type='text/javascript'>
</script>
<form action="{% url project_add%}" method="post" enctype="multipart/form-data">
     <fieldset>
         <legend>Добавить проект</legend>
         <table>
             {{ form }}
         </table>
     </fieldset>
     <fieldset>
          <legend>Добавить</legend>
         <input type="submit" value="Добавить" />
     </fieldset>
        
</form>
{% endblock %}

