{% extends 'bugtracker/bugtracker_base.html' %}
{% block title %}Добавить баг{% endblock %}
{% block content_title %}Добавить баг:{% endblock %}
{% block content %}

<form action="{% url project_add_bug project_id=project.pk %}" method="post" enctype="multipart/form-data">
    <fieldset>
        <legend>Добавить баг</legend>
    <table>
       {% for field in form %}
       <tr>

            <td valign="top">
               <h4> {{ field.label_tag }}</h4>
            </td>
             <td>
                 {% if field.errors %}
                 <table>
                     <tr>
                         <td>{{ field }}</td>
                         <td>{{ field.errors }}</td>
                     </tr>
                 </table>
                 {% else %}
                 {{ field }}
                 {% endif %}

             </td>
       </tr>
        {% endfor %}
      </table>
     </fieldset>
     <fieldset>

    <input type="submit" value="Добавить" />
    <input type="button" onClick="location.href='/projects/{{ project_pk }}/bugs'"  value="Отмена" />
     </fieldset>
</form>

{% endblock %}
