{% extends 'base.html' %}
{% block title %}RuTest companies{% endblock %}
{% block subbar %}{% endblock %}
{% block content_title%}Добавление проекта{{ customer.full_name }}{% endblock %}
{% block content%}
<script language='JavaScript' type='text/javascript'>
function show_file_bug(i) {
    document.all('file_bug'+i).innerHTML="Данная функциональность находится в процессе разработки";
}
</script>
<form action="{% url project_add%}" method="post">
     <fieldset>
         <legend>Добавить проект</legend>
         <table>
             {{ form }}
         </table>
         <input type="button" onClick="show_file_bug(1);" value="Загрузить файл">
         <div id="file_bug1"></div>
         <input type="button" onClick="show_file_bug(2);" value="Загрузить исполняемый код">
         <div id="file_bug2"></div>
     </fieldset>
     <fieldset>
          <legend>Добавить</legend>
         <input type="submit" value="Добавить" />
     </fieldset>
        
</form>
{% endblock %}

