{% extends 'base.html' %}
{% block title %}RuTest companies{% endblock %}
{% block subbar %}{% endblock %}
{% block content_title%}Добавление проекта{{ customer.full_name }}{% endblock %}
{% block content%}
<script language='JavaScript' type='text/javascript'>
</script>
<form action="{% url project_add%}" method="post" enctype="multipart/form-data">
     <fieldset>
         <legend>Добавить проект</legend>
         <table>
       {% for field in form %}
       <tr>

            <td valign="top">
               <h4> {{ field.label_tag }}</h4>
            </td>
             <td>
                 {% if field.errors %}
                 <table>
                     <tr>
                         <td>{{ field }}</td>
                         <td>{{ field.errors }}</td>
                     </tr>
                 </table>
                 {% else %}
                 {{ field }}
                 {% endif %}

             </td>
       </tr>
        {% endfor %}
      </table>
     </fieldset>
     <fieldset>
          <legend>Добавить</legend>
         <input type="submit" value="Добавить" />
     </fieldset>
        
</form>
{% endblock %}

