{% extends 'base.html' %}
{% block title %}RuTest project{% endblock %}
{% block topbar %}
          <li> <a href="/">Главная страница</a></li>
{% endblock %}
{% block subbar %}
{% endblock %}
{% block content_title%}Проекты в разработке{% endblock %}
{% block content%}
<TABLE border="3">
    <THEAD>
	<tr>
	    <th> №</th>
	    <th> Название</th>
	    <th> Заказчик </th>
	    <th> Число тестировщиков </th>
	    <th> Число багов</th>
	    <th> Дата</th>
	</tr>
    </THEAD>
    <TBODY>
	{% for project in project_list %}
	<tr>
	    <td>{{ project.pk }}</td>
	    <td><a href="{% url project_detail project_id=project.pk%}">{{ project.name }}</a></td>
	    <td>{{ project.customer }}</td>
	    <td>{{ project.testers.count }} </td>
	    <td>{{ project.bugs.count }} </td>
	    <td>{{ project.submit_date }}</td>
	</tr>
	{% endfor %}
    </TBODY>
</TABLE>
{% endblock %}
