{% extends 'bugtracker/bugtracker_base.html' %}
{% block title %}RuTest project{% endblock %}
{% block content_title %}Тестировщики  проекта {{ project.name }}{% endblock %}
{% block sidebar %}
        <script type="text/javascript">
        $(document).ready(function(){
        // ---- tablesorter -----
        $("#table_project_detail_testers").tablesorter({
                sortList:[[0,0]],
                widgets: ['zebra']
        });
        // ---- tablesorter -----
        });
        </script>

<ul>
    <li><a href="/projects/{{ project.pk}}">Описание</a></li>
    <li><a href="/projects/{{ project.pk }}/bugs">Баги</a></li>
    <li><a href="/projects/{{ project.pk }}/testers">Тестировщики</a></li>
</ul>
{% endblock %}
{% block content%}
<br>
<ul>
    <TABLE class="tablesorter" id="table_project_detail_testers">
	<THEAD>
	    <tr class="tr0">
		<th> №&nbsp;&nbsp;&nbsp;</th>
		<th> Фамилия&nbsp;&nbsp;&nbsp;</th>
		<th> Имя&nbsp;&nbsp;&nbsp;</th>
                <th> Отчество&nbsp;&nbsp;&nbsp;</th>
		<th> E-mail&nbsp;&nbsp;&nbsp;</th>
		<th> Колличество найденных багов&nbsp;&nbsp;&nbsp;</th>
	    </tr>
	</THEAD>
	<TBODY>
	{% for tester in testers %}
	    <tr class="{% cycle 'tr1' 'tr2' %}">
		<td>{{ forloop.counter }}</td>
		<td>{{ tester.surname}}</td>
		<td>{{ tester.name}}</td>
		<td>{{ tester.second_name}} </td>
		<td><a href="{% url tester_detail tester_id=tester.pk %}">{{ tester.name}}</a></td>
		<td>{{ tester.bugs.count }}</td>
	    </tr>
	{% endfor %}
	</TBODY>
    </TABLE>
</ul>

<br>
{% if user.is_authenticated %}
    {% if user.tester %}
        <div>
            <form>
                <input id="radius" type="button"onClick="location.href='{% url project_add_bug project_id=project.pk %}'" value="Добавить баг"/>
            </form>
       </div>
    {% endif %}
{% endif %}
<br>
{% endblock %}
