{% extends 'base.html' %}
{% block title %}RuTest project{% endblock %}
{% block subbar %}
{% endblock %}
{% block content_title%}Проекты в разработке{% endblock %}
{% block content%}
        <script type="text/javascript">
        $(document).ready(function(){
        // ---- tablesorter -----
        $("#table_project_list").tablesorter({
                sortList:[[0,0]],
                widgets: ['zebra']
        });
        // ---- tablesorter -----
        });
        </script>

<br>
<TABLE class="tablesorter" id="table_project_list">
    <THEAD>
	<tr class="tr0">
	    <th> №&nbsp;&nbsp;&nbsp;</th>
	    <th> Название&nbsp;&nbsp;&nbsp;</th>
	    <th> Заказчик&nbsp;&nbsp;&nbsp;</th>
	    <th> Число тестировщиков&nbsp;&nbsp;&nbsp;</th>
	    <th> Число багов&nbsp;&nbsp;&nbsp;</th>
	    <th> Дата&nbsp;&nbsp;&nbsp;</th>
	</tr>
    </THEAD>
    <TBODY>
	{% for project in project_list %}
        <tr class="{% cycle 'tr1' 'tr2' %}">
	    <td>{{ forloop.counter }}</td>
	    <td><a href="{% url project_detail project_id=project.pk%}">{{ project.name }}</a></td>
	    <td>{{ project.customer }}</td>
	    <td>{{ project.testers.count }} </td>
	    <td>{{ project.bugs.count }} </td>
	    <td>{{ project.submit_date }}</td>
	</tr>
	{% endfor %}
    </TBODY>
</TABLE>
{% endblock %}
