<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" type="text/css" href="/site_media/css/base.css" />

        <script language="javascript" type="text/javascript" src="/jsi18n/"></script>
        <!--	<script language="javascript" type="text/javascript" src="/site_media/js/niceforms.js"></script>-->


        <title>
            Некий приветливый 500
        </title>
    </head>
    <body>
        <div id="header">

            <a href="/" title="RuTest"><img src="/site_media/img/logo.jpg" alt="RuTest" width="272" height="87" border="0" /></a>
            <h1>Дави на педаль!</h1>


            <a href="/login" title="Авторизация" class="login">Авторизация</a>


            <div id="topbar">
                <ul>

                    <li><a href="/" title="Главная">Главная</a></li>

                    <li><a href="/bugtracker/projects/list" title="Наши проекты">Наши проекты</a></li>
                    <li><a href="/" title="Контакты">Контакты</a></li>


                    <li class="noborder"><a href="/" title="О нас">О нас</a></li>


                </ul>
            </div>
            <div id="subbar">
                <ul>


                </ul>
            </div>
        </div>


        <div id="body">

            <h2>
                Что-то cломалось
            </h2><br class="spacer"/>
            <p>Извините, но ваш(а может и не ваш) запрос сломал(убил/покалечил, подчеркуть нужное) наш сервер. Зайдите в другой раз.<p>
            <p>Пока мы его чиним(а может и не чиним), можете зайти <a href="http://lleo.aha.ru/na">сюда</a>.</p>

            <br class="spacer" />
        </div>

        <div id="footer">

            <div id="footerContainer">
                <ul>
                    <li><a href="/" title="Главная">Главная</a>|</li>
                    <li><a href='/projects' title="Наши проекты">Наши проекты</a>|</li>
                    <li><a href="/" title="Контакты">Контакты</a>|</li>
                    <li><a href="/" title="О нас">О нас</a></li>

                </ul><br class="spacer" />
                <p>&copy; 2009-2010, К8-221.</p>
                <br class="spacer" />
                <div class="valid">
                    <a href="http://validator.w3.org/check?uri=referer" target="_blank" class="xhtnl" title="Valid XHTML">xhtml</a>
                    <a href="http://jigsaw.w3.org/css-validator/check/referer" target="_blank" class="css" title="Valid CSS">css</a>
                </div>
                <br class="spacer" />
            </div>

        </div>
    </body>
</html>
