{% extends 'base.html' %}
{% block title %}Добавить баг{% endblock %}
{% block content %}

<h1>Добавить баг:</h1>
<form action="./addbug" method="post">
    <table>
        {{ form }}
        <tr>
            <td></td>
            <td>
                <input type="button" onClick=" alert('функция пока не реализована')" value="Прикрепление файла" />
            </td>
        </tr>
        <tr>
            <td> Комментариии к файлу:</td>
            <td>
                <input type="text" size="40" maxlength="150" />
            </td>
        </tr>
    </table>
    <input type="submit" value="Добавить" />
    <input type="button" onClick="location.href='/projects/{{ project_pk }}/bugs'"  value="Отмена" />
</form>

{% endblock %}
