{% extends 'base.html' %}
{% block title %}Страница бага{% endblock %}
{% block content %}
<script language="JavaScript" type="text/javascript">
             function Change_status()
             {
               chosen = ""

                for (i = 0; i <5; i++)
                {
                    if (document.status.var_status[i].checked)
                    {
                        chosen = document.status.var_status[i].value
                    }
                }

                switch(chosen)
                {
                     case "v1":
                     break;
                     case "v2":
                     break;
                     case "v3":
                     break;
                     case "v4":
                     break;
                     case "v5":
                     break;
                     default:
                     break;   
                }
	         }
</script>

<h1>Страница бага:</h1>
<table>
    <tr>
        <td>Краткое описание:</td>
        <td> {{ bugs.short_description }}</td>
    </tr>
    <tr>
        <td>Пункт тест-плана:</td>
        <td>{{ bugs.test_plan_point }}</td>
    </tr>
    <tr>
        <td>Критичность:</td>
        <td>
            {{ severity }}
        </td>
    </tr>
    <tr>
        <td>Как был получен:</td>
        <td>{{ bugs.finding_description }}</td>
    </tr>
    <tr>
        <td>Описание:</td>
        <td>{{ bugs.full_description }}</td>
    </tr>
    <tr>
        <td>Дата/Время добавления:</td>
        <td>{{ bugs.submit_date|date:"d.m.Y h:i" }}</td>
    </tr>
    <tr>
        <td>Комментарии к файлу:</td>
        <td> Отсутствуют</td>
    </tr>
    {% if customer_own %}
        <form action="/projects/{{ pk }}/bugs/{{ bk }}" method="post">
            <tr>
                <td> Статус:</td>
                <td>{{ form.status }}</td>
            </tr>
            <tr>
                <td>  Примичание</td>
                <td>  {{ form.status_comment }}</td>
            </tr>
            <tr>
                <td>
                    <input id="radius" type="button"  onClick="location.href='/projects/{{ pk }}/bugs'" value="Обратно">
                </td>
                <td> <input id="radius" type="submit"  value="Изменить"></td>
            </tr>
        </form>
        {% else %}
         <tr>
             <td>Статус:</td>
             <td>
                 {{ status }}
             </td>
             </tr>
         <tr>
             <td>Примечание:</td>
             <td>
                 {% ifequal bugs.status_comment '' %}
                     Отсутствует
                 {% endifequal %}
                 {% ifnotequal bugs.status_comment '' %}
                    {{ bugs.status_comment }}
                 {% endifnotequal%}
             </td>
         </tr>
         <tr>
             <td>Дата/время установления статуса:</td>
             <td> {{ bugs.status_date|date:"d.m.Y h:i" }} </td>
         </tr>
          <tr>
             <td></td>
             <br>
             <form>
                 <td>
                 <br>
                     <input id="radius" type="button"  onClick="location.href='/projects/{{ pk }}/bugs'" value="Обратно">
                 </td>
             </form>
         </tr>
    {% endif %}
</table>
<br>

{% endblock %}
