{% extends 'base.html' %}
{% block title %}RuTest regestration {% endblock %}
{% block header %}RuTest company  registration {% endblock %}
{% block content%}

<form name="form1" >
    <p><h3>Регистрируемое лицо</h3></p>
    {% ifequal type 'f' %}
    <p><input type="radio" Name ="reg" checked onClick ="location.href='/companies/register_f' ;"> Физическое</p>
    <p><input type="radio" Name ="reg" onClick =" location.href='/companies/register_y' ;"> Юридическое</p>
    {% else %}
    <p><input type="radio" Name ="reg" onClick ="location.href='/companies/register_f' ;"> Физическое</p>
    <p><input type="radio" Name ="reg" checked onClick =" location.href='/companies/register_y' ;"> Юридическое</p>
    {% endifequal %}

</form>
<form action="/companies/register_{{ type }}" method="post">
    <table>
        {{ reg_form }}
    <tr>
        <th><label for="id_accept">Договор:</label></th>
        <td><input type="checkbox" name="accept" id="id_accept" onClick="this.form.registr.disabled=!this.form.accept.checked;" />
            Я согласен с условиями договора</td>
    </tr>
    </table>
    <a href="/dogovor" target="_blank"><h4>Пользовательский договор</h4></a>
    <br><br>
    <input id="radius" name="registr" type="submit" value="Зарегистрироваться" disabled />
    <input id="radius" type="button" onClick="location.href='/'" value="Не регистрироваться"/>
</form>

{% endblock %}
