{% extends 'base.html' %}


{% block subbar %}
	<div id='sidebar_refs'>
		<li><a href="{% url customer_registration %}">Регистрация подрядчика</a></li>
		<br/>
		<li><a href="{% url tester_registration %}">Регистрация тестировщика</a></li>
		
	</div>
{% endblock %}

	<div>
		<div>
		{% block content_title %}Краудсорсинг-коммьюнити RuTest{% endblock %}
		
		
		{% block content %}
				<p>
Модель краудсорсинга можно применить для организации тестирования програмного обеспечения. Данная система является перспективной,
поскольку тестирование в России является развивающимся направлением в области программного продукта.Производители
программных продуктов осознают,  что понятие качества становится наиболее приоритетной направляющей в разработке информационных систем,
наряду со временем, стоимостью и объемом разработки. Вместе с этим, найти высококвалифицированных специалистов в этой среде
                </p>

                
                <h1 style="text-align:left">Преимущества разрабатываемой системы</h1>
                
		<p>
Быстрая и недорогая возможность набрать команду тестировщиков. Причем Заказчик в праве самостоятельно их выбрать, а
Тестировщики, в свою очередь, получают возможность присоединиться к тестированию любого из выложенных в системе проектов.
                </p>

                <p>
Удобная система, позволяющая Тестировщикам работать и получать опыт тестирования не выходя из дома. Таким образом, Заказчик
получает возможность сократить расходы на содержание постоянного штата тестировщиков, аренду оборудования и помещения,
обучение и т.п. Тестировщик получает возможность комфортно работать дома и не тратить время, добираясь до работы, а так же
работать с Заказчиками, которые территориально удалены от места проживания тестировщика.
                </p>

                <p>

Мгновенная реакция сообщества на продукцию Заказчика. Исходя из модели краудсорсинга, любой Тестировщик сможет повлиять на
качество продукта и внести свои предложения по интересующим его характеристикам продукта  на специально отведенных блогах
проектов
                </p>
				<br class="spacer" />

		<p>

         {% if not user.is_authenticated %}

		 <form method="post" action="{% url django.contrib.auth.views.login %}"  name="login_form" class="niceform">   
		 <fieldset>
    	     <legend>Авторизация</legend>
             <dl>
        	    <dt><label for="email">Email Address:</label></dt>
                <dd><input type="text" name="username" value="логин" maxlength="50"  OnFocus="value=''" id="username" /></dd>
             </dl>
             <dl>
        	 <br/>
        	     <dt><label for="password">Password:</label></dt>
                 <dd><input type="password" name="password"  maxlength="30" value="пароль" OnFocus="value=''" id="password" /></dd>
             </dl>
             <br/>
             <dl>
		 {% csrf_token %}
                 <dd><input type="submit" value="Войти" /></dd>
             </dl>
    	</fieldset >
    	</form>
		{% endif %}
		</p>
		
	<br class="spacer" />
		</div>
<div id="lefutur">	
	<div id="catagory">
	  <div class="testimonial">
                <h2>Для заказчика</h2>
                <ul>
                    <li>Ведение проекта </li>
                    <li>Обеспечение безопасности передаваемых в систему данных</li>
                    <li>Различные виды тестирования</li>
                    <li>Предоставление услуги перевода</li>
                    <li>Предоставление фокус-групп для бета-тестирования</li>
                    <li>Проверка текстов документации и программ на соответствие принятым нормам языка</li>
                    <li>Предоставление репозитория для каждого проекта</li>
                </ul>
                         
	  </div>
	  
	  <div class="solution">
	  	<h2>Для тестировщика</h2>
                <ul>
                    <li>Список тестируемых проектов (стоимость различных типов проблем, количество найденных проблем) </li>
                    <li>Личный кабинет с данными о найденных проблемах, переведенных текстах (заработанная сумма, дата выплаты, сумма выплаты) </li>
                    <li>Клиентское приложение, предоставляющее тестировщику ряд инструментов для удаленного тестирования (написание тест-скриптов, загрузка на сервер, исполнение)</li>
                </ul>

	  </div>
</div>	  
	<br class="spacer" />	    
	<br class="spacer" />	
		 
	
		
	<div id="futur">
		<br class="spacer" /></div>
		<span class="midleBottom"></span>
		<div id="futureContainer">
			<div class="futureLeft">
				<ul>
					<li class="serviece" style ="cursor:pointer" onClick="location.href='{% url customer_registration %}'">Я заказчик<br /></li>
				</ul>
			</div>
			<div class="futureRight">
				<ul>
					<li style ="cursor:pointer" class="update"  onClick="location.href='{% url tester_registration%}'">Я тестировщик<br /></li>
				</ul>
			</div>
		</div>	
	</div>	
	<br class="spacer" />
	
{% endblock %}