<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" type="text/css" href="/site_media/css/main.css" />
	<title>Главная</title>
	<script type="text/javascript" src="/site_media/js/swfobject.js" />
	<script type="text/javascript">
	swfobject.registerObject("flash");
	</script>
    </head>
    <body id='field'>
	<table class='page'>
	    <tr><td>
		    <table class='top'>
			<tr>
			    <td class='top'>
				<img src="/site_media/img/Logo.jpg" alt="Logo" id='logo'/>
			    </td>
			    <td>
                {% if user.is_authenticated %}
                    </td>
                    <td width="120px">
                        {% if user.tester %}
                        <a href="/testers/{{user.tester.id}}">Личный кабинет</a>
                        {% else %}
                        <a href="/companies/{{ user.customer.id }}">Личный кабинет</a>
                        {% endif %}
                    </td>
                    <td width="60px"><a href="/logout">Выйти</a>
                {% else %}
                    </td>
                    <td  width="300px">
                    <form method="post" action="{% url django.contrib.auth.views.login %}"  name="login_form">
                        <table>
                            <tr>
                                <td><input type="text" name="username" value="логин" OnFocus="value=''" id="username" /></td>
                                <td><input type="password" name="password" value="пароль" OnFocus="value=''" id="password" /></td>
                                <td><input type="submit" value="Войти" /></td>
                            </tr>
                        </table>
                        {% if form.errors %}
                          <p class="error">Сожалеем, вы неправильно ввели логин или пароль</p>
                        {% endif %}
                        <input type="hidden" name="next" value="{{ next }}" />
                    </form>
                {% endif %}
			    </td>
			</tr>
		    </table>
	    </td></tr>

	    <tr><td>
		    <div class='navi'>
			<table class='navi'>
			    <tr>
				<td height='37 px'><a href='/projects'>Наши проекты</a></td>
				<td height='37 px'><a href='/'>Контактная информация</a></td>
			    </tr>
			</table>
		    </div>
	    </td></tr>

	    <tr><td>
		    <table class='content'>
			<tr>
			    <td align='right'>
					<object id="flash" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="1024" height="600">

					        <param name="movie" value="/site_media/flash/DInamicText.swf" />
					        <!--[if !IE]>-->
					        <object type="application/x-shockwave-flash" data="/site_media/flash/DInamicText.swf" width="1024" height="600">
					        <!--<![endif]-->
					          <p>Тут должен быть flash.</p>
					        <!--[if !IE]>-->
					        </object>
					        <!--<![endif]-->
					      </object>
			    </td>
			</tr>
<tr>
	<td>
		<table cellpadding="0" cellspacing="0" class="registerFormTable">
			<tr>
				<td class="registerFormTop">
					<table cellpadding="0" cellspacing="0" width="100%">
						<tr>
							<td class="registerFormHalfLeft">
								<center>
									<span class="titleReg boldText">
										Заказчик
									</span>
								</center>
							</td>
							<td class="registerFormHalfRight">
								<center>
									<span class="titleReg boldText">
										Тестировщик
									</span>
								</center>
							</td>
						</tr>
						<tr>
							<td class="registerFormHalfLeft">
								<ul class="registerFormList">
									<li class="registerFormListLi">
										Ведение проекта
									</li>
									<li class="registerFormListLi">
										Обеспечение безопасности передаваемых в систему данных
									</li>
									<li class="registerFormListLi">
										Различные виды тестирования
									</li>
									<li class="registerFormListLi">
										Предоставление услуги перевода
									</li>
									<li class="registerFormListLi">
										Предоставление фокус-групп для бета-тестирования
									</li>
									<li class="registerFormListLi">
										Проверка текстов документации и программ на соответствие принятым нормам языка
									</li>
									<li class="registerFormListLi">
										Предоставление репозитория для каждого проекта
									</li>
								</ul>
							</td>
							<td class="registerFormHalfRight">
								<ul class="registerFormList">
									<li class="registerFormListLi">
										Список тестируемых проектов (стоимость различных типов проблем, количество найденных проблем)
									</li>
									<li class="registerFormListLi">
										Личный кабинет с данными о найденных проблемах, переведенных текстах (заработанная сумма, дата выплаты, сумма выплаты)
									</li>
									<li class="registerFormListLi">
										Клиентское приложение, предоставляющее тестировщику ряд инструментов для удаленного тестирования (написание тест-скриптов, загрузка на сервер, исполнение)
									</li>
								</ul>
							</td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td class="registerFormBottom">
					<table style="margin: 0 auto;">
						<tr><td class='regButton'><center><strong>Регистрация</strong></center></td></tr>
					<tr><td class='regButton'>
							<img src="/site_media/img/Registration.jpg" alt="" usemap="#regButton" border="0" />
						<map name="regButton" id="regButton">
						    <area shape="rect" coords="0,0,130,50" href="/companies/register_f" alt="Customer" />
						    <area shape="rect" coords="150,0,290,50" href="/testers/register" alt="Tester" />
						</map>
					</td></tr>
				    </table>
				</td>
			</tr>
		</table>
	</td>
</tr>
			</table>


	    </td></tr>

	    <tr><td>
		    <table class='bottom'>
			<tr>
			    <td id='phone'>Телефон: 8 (495) 391-3604</td>
				<td id='email'>E-mail: RuTest@gmail.com</td>
			    <td id='cpright'>© 2009–2010 RuTest</td>
			</tr>
		    </table>
	    </td></tr>
	</table>
    </body>
</html>
