{% extends 'base.html' %}

{% block subbar %}
<li><a href="{% url customer_registration %}">Регистрация подрядчика</a></li>
<li><a href="{% url tester_registration %}">Регистрация тестировщика</a></li>
{% endblock %}


{% block content_title %}Приувет!{% endblock %}

{% block content %}
		<p><strong>Функция B(x,y).</strong>
Теорема масштабирует лист Мёбиуса, явно демонстрируя всю чушь вышесказанного. Умножение вектора на число непосредственно развивает коллинеарный интеграл от функции, обращающейся в бесконечность в изолированной точке, в итоге приходим к логическому противоречию. Связное множество упорядочивает неопровержимый лист Мёбиуса, что и требовалось доказать. Интеграл по бесконечной области нейтрализует интеграл по поверхности, что известно даже школьникам. Нормаль к поверхности, не вдаваясь в подробности, усиливает положительный криволинейный интеграл, что неудивительно. Сумма ряда, как следует из вышесказанного, последовательно притягивает нормальный максимум, таким образом сбылась мечта идиота - утверждение полностью доказано.</p>
		<br class="spacer" />
		<p>
		<!-- ПРИМЕР ОФОРМЛЕНИЯ ФОРМЫ -->
		<form action="vars.php" method="post" class="niceform">
		<fieldset>
    	<legend>Personal Info</legend>
        <dl>
        	<dt><label for="email">Email Address:</label></dt>
            <dd><input type="text" name="email" id="email" size="32" maxlength="128" /></dd>
        </dl>
        <dl>
        	<br/>
        	<dt><label for="password">Password:</label></dt>
            <dd><input type="password" name="password" id="password" size="32" maxlength="32" /></dd>
        </dl>
        <br/>
        <dl>
        <dd><button type="button" name="test" id="test">клац</button></dd>
        </dl>
    	</fieldset >
    	</form>
		<!-- END ПРИМЕР ОФОРМЛЕНИЯ ФОРМЫ -->
		
		</p>
		
	<br class="spacer" /></div>

	
<div id="lefutur">	
	<div id="catagory">
	  <div class="testimonial">
			<h2>Для разработчика</h2>
		  <p><strong>consectetuer adipiscing e</strong> Morbi tellus nibh, aliquam et, euismoec, sagittis sed, nulla. Lorem ipdor sit amet, consectetuer adipiscing lit. Praesent </p><img src="/site_media/img/photo1.gif" alt="Photo-1" />
		  <p class="italic"><em>Стремление побыстрее разделаться с проблемой нередко приводит к сломанной шее.</em></p><br class="spacer" />
		  <div class="line1"><p><span>Володя Петухов</span></p></div>
	  </div>
	  
	  <div class="solution">
	  	<h2>Для тестировщика</h2>
	    <p><strong>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</strong> Morbi tellus nibh, aliquam et, </p><br class="spacer" />
		<ul>
			<li><a href="#">augue justo,</a> iaculis eu, fermentum sed,</li>
			<li><a href="#">condimentumeu, mauris.</a> In orci nibh, vehicula et,</li>
			<li><a href="#">semper nec,</a> molestie quis, lectus. Ut feugiat enim id</li>
			<li><a href="#">risus. Pellentesque</a> ante. Etiam in eros. Sed</li>
			<li><a href="#">condimentum sapien sed urna.</a> Fusce tincid</li>
		</ul>
	  </div>
</div>	  
	<br class="spacer" />	    
	<br class="spacer" />	
		 
	
		
	<div id="futur">
		<br class="spacer" /></div>
		<span class="midleBottom"></span>
		<div id="futureContainer">
			<div class="futureLeft">
				<ul>
					<li class="serviece"  onClick="location.href='{% url customer_registration %}'">Я разработчик<br /></li>
				</ul>
			</div>
			<div class="futureRight">
				<ul>
					<li class="update"  onClick="location.href='{% url tester_registration%}'">Я тестировщик<br /></li>
				</ul>
			</div>
		</div>	
	</div>	
	<br class="spacer" />
{% endblock %}
