{% extends 'customer_project_detail.html' %}
{% block title %}RuTest project{% endblock %}
{% block content%}

<!--
<script language='JavaScript' type='text/javascript'>
function show_file_bug(i) {
    document.all('file_bug'+i).innerHTML="Данная функциональность находится в процессе разработки";
}
</script>
-->
<h1>Добавление проекта</h1>
<form action="/projects/new" method="post">
    <table>            
    {{ form }}
    </table>
    <table>
            <tr>
                <td>
                    <input type="button" onClick="alert('Данная функциональность находится в процессе разработки')" value="Загрузить файл">
                    <div id="file_bug1"></div>
                </td>
                <td style="vertical-align: top;"> &nbsp;Описание:</td>
                <td>
                     <textarea cols="40" rows="9"> </textarea>
                </td>
            </tr>
    </table>
    <input type="button" onClick=" alert('Данная функциональность находится в процессе разработки')" value="Загрузить исполняемый код">
    <div id="file_bug2"></div>
    <br>
    <input type="submit" value="Добавить" />
</form>
{% endblock %}

