{% extends 'base.html' %}
{% block title %}RuTest project{% endblock %}
{% block sidebar %}
<ul>
    <li><a href="/projects/{{ project.pk}}">Описание</a></li>
    <li><a href="/projects/{{ project.pk }}/bugs">Баги</a></li>
    <li><a href="/projects/{{ project.pk }}/testers">Тестировщики</a></li>
</ul>
{% endblock %}
{% block content%}
<br>
<h1 algin="center"> Тестировщики </h1>
<ul>
    <TABLE border="3">
	<THEAD>
	    <tr>
		<th>№ </th>
		<th>Фамилия </th>
		<th>Имя</th>
        <th>Отчество </th>
		<th>E-mail </th>
		<th>Колличество найденных багов</th>
	    </tr>
	</THEAD>
	<TBODY>
	{% for tester in testers %}
	    <tr>
		<td> {{ forloop.counter }}</td>
		<td>{{ tester.surname}}</td>
		<td>{{ tester.first_name}}</td>
		<td>{{ tester.second_name}} </td>
		<td><a href="/testers/{{ tester.pk }}">{{ tester.name}}</a></td>
		<td>{{ tester.bugs.count }}</td>
	    </tr>
	{% endfor %}
	</TBODY>
    </TABLE>
</ul>
<p>
{% if project_tester %}
        <div align="center">
            <form>
                <input id="radius" type="button"onClick="location.href='/projects/{{ project.pk }}/addbug'" value="Добавить баг"/>
            </form>
       </div>
{% endif %}
</p>
<br>
{% endblock %}
