{% extends 'base.html' %}
{% block title %}RuTest regestration{% endblock %}
{% block header %}RuTest tester regestration{% endblock %}
{% block content%}

<h1>Регистрация тестировщиков</h1>
<form action="/testers/register" method="post">
    <table>
          тут reg_form
    <tr>
        <th><label for="id_accept">Договор:</label></th>
        <td><input type="checkbox" name="accept" id="id_accept" onClick="this.form.registr.disabled=!this.form.accept.checked;" />
            Я согласен с условиями договора</td>
    </tr>
    </table>
    <a href="/dogovor" target="_blank"><h4>Пользовательский договор</h4></a>
    <br><br>
    <input id="radius" name="registr" type="submit" value="Зарегистрироваться" disabled />
    <input id="radius" type="button" onClick="location.href='/'" value="Не регистрироваться"/>
</form>
{% endblock %}
