{% extends 'base.html' %}
{% block title %}RuTest regestration{% endblock %}
{% block header %}RuTest tester regestration{% endblock %}
{% block content%}

<h1>Регистрация тестировщиков</h1>
<form action="/testers/register" method="post">
    <table>
        {{ form }}
    </table>
    <a href="/dogovor" target="_blank"><h4>Пользовательский договор</h4></a>
    <br><br>
    <input id="radius" type="submit" value="Регистрироваться" />
    <input id="radius" type="button" onClick="location.href='/'" value="Не регистрироваться"/>
</form>
{% endblock %}
